{{> head}} 
{{> navbar}} 

<div class="row">
    <div class="col-8">
        <h1>Gabriel Rosa Corona - Heroku</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, obcaecati! In similique vel repellendus consectetur rerum quis maiores nihil blanditiis nostrum, deleniti ea enim expedita alias iure temporibus id nobis? </p>
    </div>
    <div class="col-4">
        <img src="assets/img/heroku.png" alt="" class="img-thumbnail">
    </div>
</div>


{{>footer}}